:root {
  --dark-blue: #363f5f;
  --green: #49aa26;
  --light-green: #3dd705;
  --red: #e92929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background-color: #f0f2f5;
}

body,
button,
input {
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/* Header */
header {
  background-color: #2d4a22;
  padding: 2rem 0 10rem;
  text-align: center;
}

header h1 {
  color: #fff;
  font-weight: 100;
}

/* Balance */
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: 400;
}

#balance {
  margin-top: -6rem;
}

#balance h2 {
  color: #fff;
  margin-top: 0;
}

/* Links & Buttons */
a {
  text-decoration: none;
  color: var(--green);
  transition: color 0.1s ease;
}

a:hover {
  color: var(--light-green);
}

button {
  background-color: var(--green);
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 1rem;
  outline: none;
}

button:hover {
  background-color: var(--light-green);
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.button.cancel {
  color: var(--red);
  border: 2px solid var(--red);
  border-radius: 0.25rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: opacity 0.2s ease;
  font-size: 1rem;
}

.button.cancel:hover {
  opacity: 1;
}

/* Card */
.card {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--dark-blue);
}

.card h3 {
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total {
  color: #fff;
  background-color: var(--green);
}

/* Table */
#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table th {
  background-color: #fff;
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
  color: var(--dark-blue);
}

table td {
  background-color: #fff;
  padding: 1rem 2rem;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12a454;
}

td.expense {
  color: var(--red);
}

.remove-transaction {
  cursor: pointer;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: #f0f2f5;
  padding: 2.4rem;
  width: min(90vw, 500px);
}

/* Modal form */
.modal-content {
  max-width: 500px;
}

.modal-content h2 {
  margin-top: 0;
}

.input-group {
  margin-top: 0.8rem;
}

input {
  width: 100%;
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  outline: none;
}

input:focus {
  box-shadow: 2px 2px 4px -2px black;
}

.input-group small {
  opacity: 0.6;
}

.input-group.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

/* Footer */
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.7;
}

/* Responsive */
@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
